:root {
    --ss-poppins: "Poppins", sans-serif;
    --ss-font500: 500;
    --ss-font600: 600;
    --ss-font700: 700;
    --ss-font800: 800;
    --ss-fontbold: bold;
    --ss-primary: #ff5a61;
    --ss-secondary:#ff767b;
  }

  $bg-primary-color:#ff5a61;
  $bg-secondary-color:#ff767b;

  // background: linear-gradient(to bottom, #ff5a61 0%, #ff767b 100%);
