@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "mixin";
@import "var";


//   @font-face {
//     font-family: "CartoGothicStd";
//     font-display: swap;
//     src: url(../fonts/CartoGothicStd-BoldItalic-5d8ce2ed9c4d2e6dc8c149fa5de7d0174b6b98d4a912acd57b7adf739d7ff9e1.eot);
//     src: local("CartoGothic Std Bold Italic"), local("CartoGothicStd-BoldItalic"),
//       url(../fonts/CartoGothicStd-BoldItalic-5d8ce2ed9c4d2e6dc8c149fa5de7d0174b6b98d4a912acd57b7adf739d7ff9e1.eot?#iefix)
//         format("embedded-opentype"),
//       url(../fonts/CartoGothicStd-BoldItalic-cc4474141c8d3ca3052d2aaf51ded4d47e5e8543246b25dcf6c55731356b560a.woff2)
//         format("woff2"),
//       url(../fonts/CartoGothicStd-BoldItalic-d6c0f6265b8a7609f3e802f9926d7d14a24ebcf3fa29397023331cb64097fed8.woff)
//         format("woff"),
//       url(../fonts/CartoGothicStd-BoldItalic-530baed42e366f9fd9102c154333b5a3c8f27b1250a46cf9b42e4d6b48540076.ttf)
//         format("truetype");
//     font-weight: bold;
//     font-style: italic;
//   }

body {
    font-family: var(--ss-poppins);
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #000;
  }
  ul,li,p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    list-style: none;
}
* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
p,span {
    font-family: var(--ss-josefin);
}
p {
    font-size: 1.6rem;
}
a {
    text-decoration: none;
    color: #1d1d1d;
}
.slick-slide img {
    display: inherit !important;
}
.p-80 {
    padding: 8rem 0rem;
}
.title-box {
    h3 {
        font-size: 2rem;
        color: var(--ss-primary);
        font-weight: 300;
    }
    h4 {
        font-size: 4rem;
        color: #000;
        font-weight: 600;  
        margin: 1rem 0rem 2rem;
    }
    p {
        line-height: 2.8rem;
    }
}
.common-btn {
    @include btn-prop;
}
.common-btn::before {
    @include btn-before-prop;
}
.common-btn:hover::before {
    @include btn-prop-hover;
}
/* Header Area*/
.navbar-brand {
    img {
        max-width: 20rem;
    }
}


/*shrink*/
.shrink {
    position: fixed;
    top: 0;
    width: 100%;
    transition-delay: 0.09s;
    z-index: 1;
    transition: 0.7s;
    animation: smoothScroll 1s forwards;
    z-index: 2;
    background-color: var(--ss-primary);
}

@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}

	100% {
		transform: translateY(0px);
	}
}
/* Header Area*/
.top-header {
    background: linear-gradient(to bottom, #ff5a61 0%, #ff767b 100%);
    color: #fff;
    padding: 1.5rem 0rem;
}
.middle-header-area {
    padding: 1.5rem 0rem;
    background-color: #fff;
    top: 0;
}
.navbar-nav {
    .nav-item {
        .nav-link {
            font-size: 1.6rem;
            color: #000;
            padding: 0;
            margin-left: 2.5rem;
        }
        .nav-link:hover {
            color: var(--ss-primary);
        }
        .active {
            color: var(--ss-primary);
        }
    }
    margin-left: auto;
    align-items: center;
}
.navbar-expand-lg {
    .navbar-brand {
        padding: 0;
        margin: 0;
    }
    padding: 0;
}

/*Banner Area*/
.banner-area {
    background: url(../images/banner1.jpg) no-repeat;
    padding: 10rem 0rem;
    color: #fff;
    @include banner-prop;
    form {
        background-color: #fff;
        padding: 4rem;
        border-radius: 0.5rem;
        margin-top: 4rem;
        .form-select {
            padding: 1.5rem 17rem 1.5rem 1rem;
            font-size: 1.4rem;
            cursor: pointer;
        }
        .form-select:focus {
            border-color: #ddd;
            outline: 0;
            box-shadow: 0 0 0 .0rem rgba(13, 110, 253, .25);
        }
        button {
            padding: 1.5rem;
            font-size: 1.4rem;
            border: none;
            background-color: var(--ss-primary);
            color: #fff;
        }
    }
    h3 {
        font-size: 3rem;
        font-weight: 200;
    }
    h1 {
        font-size: 6rem;
        margin: 1rem 0rem 3rem;
        font-weight: 700;
    }
    p {
        max-width: 60rem;
        line-height: 2.8rem;
    }
}

/*About Area*/
.about-area {
    .about-right {
        ul {
            li {
                p {
                    padding-left: 2.5rem;
                }
                p:before {
                    content: "\f00c";
                    position: absolute;
                    left: 0;
                    color: var(--ss-primary);
                    font-family: fontAwesome;
                }
                margin-bottom: 1.5rem;
            }
            margin: 3rem 0rem 5rem;
        }
    }
}

/*profile Area*/
.profile-tab-area {
    background: url(../images/heart-pattern-bg-1.png) repeat;
    background-color: var(--ss-primary);
    .title-box {
        color: #fff;
        h4 {
            color: #fff;
        }
        h3 {
            color: #fff;
        }
        p {
            margin-bottom: 6rem;
        }
    }
    .tab-content {
        display: none;
        margin-top: 6rem;
      }
      .current {
        display: inherit;
      }
      .product-tab {
        .tabs {
            .current {
                p {
                    color: var(--ss-primary);
                }
                background-color: #fff;
            }
            p {
                color: #fff;
            }
        }
        .tab-link {
            display: inline;
            text-align: center;
            border: 1px solid #fff;
            padding: 1rem 3rem;
            margin: 0rem 1rem;
            cursor: pointer;
            p {
                font-size: 2rem;
                font-weight: 600;
            }
        }
    }
    .profile-content {
        position: absolute;
        bottom: 0rem;
        opacity: 0;
        left: 2rem;
        color: #fff;
        transition: all 0.3s ease-in-out 0s;
        background-color: var(--ss-primary);
        padding: 1rem;
        h4 {
            font-size: 1.6rem;
            font-weight: 400;
        }
    }
    .profile-box {
        button {
            border: none;
            background-color: transparent;
        }
        img {
            border-radius: 0.8rem;
        }
        margin-top: 2rem;
    }
    .profile-box:hover {
        .profile-content {
            bottom: 5%;
            opacity: 1;
            transition: all 0.3s ease-in-out 0s;
        }
    }
}

/*Modal Box*/
.modal-body {
    padding: 0;
    .modal-tab-content {
        display: none;
        padding: 2rem 4rem;
        .form-control {
            padding: 1.5rem 1rem;
            font-size: 1.4rem;
            appearance: auto;
        }
        .form-group {
            margin-bottom: 2rem;
            label {
                margin-bottom: 0.5rem;
            }
            .common-btn {
                margin-top: 3rem;
            }
        }
    }
    .current {
        display: block;
    }
    .modal-tab-link {
        cursor: pointer;
        background-color: #fff;
        color: var(--ss-primary);
        border-radius: 0.5rem;
        padding: 2rem;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .modal-tab-link:hover {
        background-color: #e5e5e5;
    }
    .modal-tabs {
        .current {
            background-color: #e5e5e5;
            color: #1d1d1d;
        }
    }
    .toggle-password {
        position: absolute;
        right: 1rem;
        top: 4.5rem;
    }
    .common-btn {
        width: 100%;
    }
}
.modal {
    background-color: #0009;
}
.form-control:focus {
    border-color: #ddd;
    box-shadow: 0 0 0 .0rem rgba(13, 110, 253, .25);
}

/*Review Area*/
.testimonial-area {
    .title-box {
        margin-bottom: 4rem;
    }
    .review-slider {
        h3 {
            font-size: 2.2rem;
            font-weight: 600;
            margin-bottom: 2rem;
        }
        p {
            margin-bottom: 3rem;
        }
        .review_box {
            padding: 5rem 3rem;
            margin: 7rem 1rem 1rem;
            border-radius: 0.8rem;
            img {
                border-radius: 5rem;
                margin-right: 1rem;
            }
            h4 {
                font-size: 1.8rem;
                font-weight: 600;
            }
        }
        .slick-current.slick-center{
            opacity: 1;
            transform: translateY(-50px);
            filter: blur(0);
            transition: all 500ms ease-in-out;
        }
        .slick-slide {
            opacity: .3;
            filter: blur(1.5px);
            transition: all 500ms ease-in-out;
        }
        .slick-dots li button:before {
            font-size: 5rem;
            color: var(--ss-primary);
        }
        .slick-dots li.slick-active button:before {
            color: var(--ss-primary);
            border: 1px solid #ff5a61;
            border-radius: 5rem;
        }
    }
}

/*Blog Area*/
.blog-area {
    position: relative;
    .blog-left {
        padding: 4rem;
        border-radius: 0.8rem;
        background-color: #fff;
        .title-box {
            h4 {
                margin-bottom: 4rem;
                line-height: 5.5rem;
            }
            p {
                margin: 2rem 0rem;
            }
            .btn {
                margin-top: 2rem;
            }
        }
    }
    .blog-right {
        img {
            max-height: 35rem;
            object-fit: cover;
            object-position: center;
        }
        h6 {
            font-size: 1.6rem;
            color: #9D9D9D;
            margin: 2rem 0rem;
        }
        h4 {
            font-size: 2.2rem;
            color: #000;
            font-weight: 500;
            color: var(--ss-primary);
        }
        p {
            margin: 2rem 0rem;
        }
    }
}
.blog-area::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50rem;
    background: url(../images/heart-pattern-bg-1.png);
    background-color: var(--ss-primary);
    z-index: -1;
}


/*Works Area*/
.works-area {
    .common-btn {
        margin-top: 4rem;
    }
    .works-box {
        i {
            font-size: 4rem;
            color: var(--ss-primary);
            box-shadow: 0 3px 25px 0 rgb(0 0 0 / 10%);
            padding: 3rem;
            border-radius: 50rem;
        }
        h4 {
            font-size: 2.2rem;
            font-weight: 600;
            margin: 2rem 0rem;
        }
    }
    .title-box {
        margin-bottom: 8rem;
    }
    .search-box {
        position: relative;
    }
    .search-box::before {
        content: "";
        position: absolute;
        left: -15rem;
        background: url(../images/placeholder.png);
        width: 100%;
        height: 5rem;
        background-repeat: no-repeat;
        top: 3rem;
    }
    .search-box::after {
        content: "";
        position: absolute;
        right: -27rem;
        background: url(../images/placeholder2.png);
        width: 100%;
        height: 5rem;
        background-repeat: no-repeat;
        top: 5rem;
    }
}

/*Footer Area*/
footer {
    background: url(../images/heart-pattern-bg-1.png);
    background-color: var(--ss-primary);
    color: #fff;
    padding-bottom: 0rem !important;
    .footer-box {
        justify-content: space-between;
    }
    .footer-1 {
        p {
            margin: 2rem 0rem;
        }
        ul {
            li {
                i {
                    font-size: 1.5rem;
                    color: #fff;
                }
                margin-right: 1rem;
                border-radius: 5rem;
                border: 1px solid;
                a {
                    width: 4rem;
                    height: 4rem;   
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            li:hover {
                background-color: #00000073;
            }
        }
        width: calc(25%);
    }
    .footer-content {
        h3 {
            font-size: 2rem;
            margin-bottom: 3rem;
        }
        ul {
            li {
                a {
                    font-size: 1.6rem;
                    color: #fff;
                }
                margin-bottom: 1rem;
            }
        }
        .footer-address {
            li {
                margin-bottom: 1rem;
            }
        }
        width: 10%;
    }
    .footer-content-2 {
        width: 25%;
    }
    .footer-content-3 {
        width: 25%;
        form {
            position: relative;
            margin-top: 2rem;
            input {
                width: 100%;
                padding: 1rem;
                border: none;
                outline: none;
            }
            button {
                position: absolute;
                right: 0;
                border: none;
                padding: 1rem;
            }
        }
    }
    .footer-copyright {
        ul {
            justify-content: space-between;
            li {
                a {
                    font-size: 1.6rem;
                    color: #fff;
                    margin-left: 1rem;
                }
            }
        }
        padding: 3rem 0rem;
        border-top: 1px solid;
        margin-top: 3rem;
    }
}

/*Footer Popup Area*/
.floating-btm-box {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: #fff;
    -webkit-transition: transform 0.8s ease;
    -webkit-transition: -webkit-transform 0.8s ease;
    transition: -webkit-transform 0.8s ease;
    transition: transform 0.8s ease;
    transition: transform 0.8s ease, -webkit-transform 0.8s ease;
    z-index: 1001;
    color: #000;
    font-weight: 400;
    -webkit-transform: translateY(120%);
    transform: translateY(120%);
    box-shadow: 0 8px 8px rgb(41 26 85 / 25%);
    border-radius: 5px;
    max-width: 320px;
    width: 100%;
    font-size: 14px;
    padding: 15px 12px 12px;
    line-height: 22px;
}
@media  screen and (max-width: 767px) {
    .floating-btm-box {
        top: 7px;
        bottom: inherit;
        transform: translateY(-163%);
    }
}
.floating-sub-box{
    position:relative;display: flex;
    justify-content: flex-start;
    align-items: center;
}
.floating-btm-box img {
    width: 75px;
    height: 75px;
    margin-right: 10px;
}
.floating-btm-box.notify {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.custom-close-n {
position: absolute;
top: -12px;
right: -15px;
cursor: pointer;  
}

.custom-close-n i,.custom-close-n img{font-size:15px;color:#7e7e7e;
    width:15px;height:15px;
    opacity: 0;-webkit-transition: .3s ease-in-out;
-o-transition: .3s ease-in-out;
transition: .3s ease-in-out;
    }
.floating-btm-box:hover .custom-close-n i,.floating-btm-box:hover .custom-close-n img {
opacity: 1
}
/*Footer Popup Area*/

















@media (min-width: 1700px) {
}

@media (max-width: 1739.98px) {
}

@media (max-width: 1399px) {
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1280px;
    }
}

@media (max-width: 1199px) {
    .navbar-nav {
        .nav-item {
            .nav-link {
                font-size: 1.2rem;
            }
        }
    }
    .banner-area {
        form {
            .form-select {
                padding: 1.5rem 10rem 1.5rem 1rem;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .navbar-nav {
        margin: 2rem 0rem;
        align-items: start;
        .nav-item {
            .nav-link {
                margin-left: 0rem;
                font-size: 1.6rem;
            }
            width: 100%;
            text-align: left;
            padding: 1rem 0rem;
            border-bottom: 1px solid #ddd;
        }
        .nav-item:last-child {
            border: none;
        }
    }
    .line1 {
        top: 3rem;
        color: var(--ss-primary);;
        width: 3rem;
        height: 0.2rem;
        background-color: var(--ss-primary);;
        content: "";
        position: absolute;
        right: 0rem;
    }
    .line2 {
        top: 2rem;
        color: var(--ss-primary);;
        width: 2rem;
        height: 0.2rem;
        background-color: var(--ss-primary);;
        content: "";
        position: absolute;
        right: 0rem;
    }
    .line3 {
        top: 1rem;
        color: var(--ss-primary);;
        width: 3rem;
        height: 0.2rem;
        background-color: var(--ss-primary);;
        content: "";
        position: absolute;
        right: 0rem;
    }
    .banner-area {
        form {
            .form-select {
                padding: 1.5rem 6rem 1.5rem 1rem;
            }
        }
    }
    .about-right {
        margin-top: 4rem;
    }
    .profile-tab-area {
        .product-tab {
            .tab-link {
                padding: 1rem 2rem;
                p {
                    font-size: 1.6rem;
                }
            }
        }
    }
    .blog-area::before {
        width: 20rem;
    }
    .blog-area {
        .blog-left {
            .title-box {
                h4 {
                    margin-bottom: 2rem;
                    line-height: 4.5rem;
                    font-size: 3rem;
                }
            }
        }
    }
    .works-area {
        .search-box::before {
            left: -6rem;
            width: 45%;
            top: 3rem;
            background-size: contain;
        }
        .search-box::after {
            right: -6rem;
            width: 45%;
            top: 5rem;
            background-size: contain;
        }
    }
    footer {
        .footer-box {
            flex-wrap: wrap;
        }
        .footer-1 {
            width: 100%;
            margin-bottom: 4rem;
        }
        .footer-content {
            width: 33.33%;
            .footer-address {
                li {
                    margin-bottom: 1rem;
                }
            }
        }
        .footer-copyright {
            p {
                font-size: 1.4rem;
            }
            ul {
                li {
                    a {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 992px) {
    .navbar-nav li:hover > ul.dropdown-menu {
        top: 100%;
        transform: scale(1, 1);
    }
    .dropdown-menu {
        border: none;
        border-radius: 0;
        transform: scale(1, 0);
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
        transition: all 300ms ease-in-out 0s;
        display: table-column;
        top: 100%;
        }
        .navbar-nav li:hover > a::after {
            transform: rotate(180deg);
            transition: all 300ms ease-in-out 0s;
        }
}


@media screen and (min-width: 768px) { 
    .dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
        position: inherit;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        background-color: #fff;
        padding: 5rem !important;
    }
}

@media screen and (max-width: 767px) {
    .dropdown-menu.show {
        display: block;
    }
    .banner-area {
        padding: 5rem 0rem;
        h1 {
            font-size: 4rem;
        }
        form {
            padding: 2rem;
             ul {
                flex-wrap: wrap;
                li {
                    width: 100%;
                    margin: 1rem 0rem;
                }
             }
             button {
                width: 100%;
                border-radius: .375rem;
             }
        }
    }
    .title-box {
        h4 {
            font-size: 3rem;
        }
    }
    .product-tab {
        .tabs {
            flex-wrap: wrap;
            li {
                margin-bottom: 2rem !important
                ;
            }
        }
    }
    .profile-tab-area {
        .tab-content {
            margin-top: 1rem;
        }
    }
    .blog-area {
        .blog-left {
            padding: 4rem 2rem;
        }
        .blog-right {
            img {
                max-height: 20rem;
            }
        }
    }
    .blog-area::before {
        display: none;
    }
    .p-80 {
        padding: 4rem 0rem;
    }
    .works-area {
        .search-box::before {
            display: none;
        }
        .search-box::after {
            display: none;
        }
        .search-box {
            margin: 4rem 0rem;
        }
        .title-box {
            margin-bottom: 4rem;
        }
    }
    .footer-content-2 {
        margin: 4rem 0rem;
    }
    footer {
        .footer-content {
            width: 100%;
            h3 {
                margin-bottom: 1rem;
            }
        }
        .footer-copyright {
            ul {
                li {
                    margin-bottom: 2rem;
                    text-align: center;
                }
            }
            padding: 3rem 0rem 1rem;
        }
    }
}

@media (max-width: 480px) {
}

@media (max-width: 380px) {
}

@media (max-width: 340px) {
}