@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --ss-poppins: "Poppins", sans-serif;
  --ss-font500: 500;
  --ss-font600: 600;
  --ss-font700: 700;
  --ss-font800: 800;
  --ss-fontbold: bold;
  --ss-primary: #ff5a61;
  --ss-secondary:#ff767b;
}

body {
  font-family: var(--ss-poppins);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #000;
}

ul, li, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

p, span {
  font-family: var(--ss-josefin);
}

p {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #1d1d1d;
}

.slick-slide img {
  display: inherit !important;
}

.p-80 {
  padding: 8rem 0rem;
}

.title-box h3 {
  font-size: 2rem;
  color: var(--ss-primary);
  font-weight: 300;
}
.title-box h4 {
  font-size: 4rem;
  color: #000;
  font-weight: 600;
  margin: 1rem 0rem 2rem;
}
.title-box p {
  line-height: 2.8rem;
}

.common-btn {
  font-size: 1.6rem;
  text-transform: uppercase;
  border: none;
  color: #fff !important;
  background: linear-gradient(to bottom, #ff5a61 0%, #ff767b 100%);
  padding: 1.2rem 3rem !important;
  border-radius: 0.5rem;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
}

.common-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to top, #ff5a61 0%, #ff767b 100%);
  width: 100%;
  height: 0%;
  border-radius: 0.5rem;
  z-index: -1;
  transition: all 0.3s;
}

.common-btn:hover::before {
  height: 100%;
  color: #fff;
}

/* Header Area*/
.navbar-brand img {
  max-width: 20rem;
}

/*shrink*/
.shrink {
  position: fixed;
  top: 0;
  width: 100%;
  transition-delay: 0.09s;
  z-index: 1;
  transition: 0.7s;
  animation: smoothScroll 1s forwards;
  z-index: 2;
  background-color: var(--ss-primary);
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* Header Area*/
.top-header {
  background: linear-gradient(to bottom, #ff5a61 0%, #ff767b 100%);
  color: #fff;
  padding: 1.5rem 0rem;
}

.middle-header-area {
  padding: 1.5rem 0rem;
  background-color: #fff;
  top: 0;
}

.navbar-nav {
  margin-left: auto;
  align-items: center;
}
.navbar-nav .nav-item .nav-link {
  font-size: 1.6rem;
  color: #000;
  padding: 0;
  margin-left: 2.5rem;
}
.navbar-nav .nav-item .nav-link:hover {
  color: var(--ss-primary);
}
.navbar-nav .nav-item .active {
  color: var(--ss-primary);
}

.navbar-expand-lg {
  padding: 0;
}
.navbar-expand-lg .navbar-brand {
  padding: 0;
  margin: 0;
}

/*Banner Area*/
.banner-area {
  background: url(../images/banner1.jpg) no-repeat;
  padding: 10rem 0rem;
  color: #fff;
  background-position: center;
  background-size: cover;
}
.banner-area form {
  background-color: #fff;
  padding: 4rem;
  border-radius: 0.5rem;
  margin-top: 4rem;
}
.banner-area form .form-select {
  padding: 1.5rem 17rem 1.5rem 1rem;
  font-size: 1.4rem;
  cursor: pointer;
}
.banner-area form .form-select:focus {
  border-color: #ddd;
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25);
}
.banner-area form button {
  padding: 1.5rem;
  font-size: 1.4rem;
  border: none;
  background-color: var(--ss-primary);
  color: #fff;
}
.banner-area h3 {
  font-size: 3rem;
  font-weight: 200;
}
.banner-area h1 {
  font-size: 6rem;
  margin: 1rem 0rem 3rem;
  font-weight: 700;
}
.banner-area p {
  max-width: 60rem;
  line-height: 2.8rem;
}

/*About Area*/
.about-area .about-right ul {
  margin: 3rem 0rem 5rem;
}
.about-area .about-right ul li {
  margin-bottom: 1.5rem;
}
.about-area .about-right ul li p {
  padding-left: 2.5rem;
}
.about-area .about-right ul li p:before {
  content: "\f00c";
  position: absolute;
  left: 0;
  color: var(--ss-primary);
  font-family: fontAwesome;
}

/*profile Area*/
.profile-tab-area {
  background: url(../images/heart-pattern-bg-1.png) repeat;
  background-color: var(--ss-primary);
}
.profile-tab-area .title-box {
  color: #fff;
}
.profile-tab-area .title-box h4 {
  color: #fff;
}
.profile-tab-area .title-box h3 {
  color: #fff;
}
.profile-tab-area .title-box p {
  margin-bottom: 6rem;
}
.profile-tab-area .tab-content {
  display: none;
  margin-top: 6rem;
}
.profile-tab-area .current {
  display: inherit;
}
.profile-tab-area .product-tab .tabs .current {
  background-color: #fff;
}
.profile-tab-area .product-tab .tabs .current p {
  color: var(--ss-primary);
}
.profile-tab-area .product-tab .tabs p {
  color: #fff;
}
.profile-tab-area .product-tab .tab-link {
  display: inline;
  text-align: center;
  border: 1px solid #fff;
  padding: 1rem 3rem;
  margin: 0rem 1rem;
  cursor: pointer;
}
.profile-tab-area .product-tab .tab-link p {
  font-size: 2rem;
  font-weight: 600;
}
.profile-tab-area .profile-content {
  position: absolute;
  bottom: 0rem;
  opacity: 0;
  left: 2rem;
  color: #fff;
  transition: all 0.3s ease-in-out 0s;
  background-color: var(--ss-primary);
  padding: 1rem;
}
.profile-tab-area .profile-content h4 {
  font-size: 1.6rem;
  font-weight: 400;
}
.profile-tab-area .profile-box {
  margin-top: 2rem;
}
.profile-tab-area .profile-box button {
  border: none;
  background-color: transparent;
}
.profile-tab-area .profile-box img {
  border-radius: 0.8rem;
}
.profile-tab-area .profile-box:hover .profile-content {
  bottom: 5%;
  opacity: 1;
  transition: all 0.3s ease-in-out 0s;
}

/*Modal Box*/
.modal-body {
  padding: 0;
}
.modal-body .modal-tab-content {
  display: none;
  padding: 2rem 4rem;
}
.modal-body .modal-tab-content .form-control {
  padding: 1.5rem 1rem;
  font-size: 1.4rem;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}
.modal-body .modal-tab-content .form-group {
  margin-bottom: 2rem;
}
.modal-body .modal-tab-content .form-group label {
  margin-bottom: 0.5rem;
}
.modal-body .modal-tab-content .form-group .common-btn {
  margin-top: 3rem;
}
.modal-body .current {
  display: block;
}
.modal-body .modal-tab-link {
  cursor: pointer;
  background-color: #fff;
  color: var(--ss-primary);
  border-radius: 0.5rem;
  padding: 2rem;
  width: 100%;
  text-align: center;
  justify-content: center;
}
.modal-body .modal-tab-link:hover {
  background-color: #e5e5e5;
}
.modal-body .modal-tabs .current {
  background-color: #e5e5e5;
  color: #1d1d1d;
}
.modal-body .toggle-password {
  position: absolute;
  right: 1rem;
  top: 4.5rem;
}
.modal-body .common-btn {
  width: 100%;
}

.modal {
  background-color: rgba(0, 0, 0, 0.6);
}

.form-control:focus {
  border-color: #ddd;
  box-shadow: 0 0 0 0rem rgba(13, 110, 253, 0.25);
}

/*Review Area*/
.testimonial-area .title-box {
  margin-bottom: 4rem;
}
.testimonial-area .review-slider h3 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.testimonial-area .review-slider p {
  margin-bottom: 3rem;
}
.testimonial-area .review-slider .review_box {
  padding: 5rem 3rem;
  margin: 7rem 1rem 1rem;
  border-radius: 0.8rem;
}
.testimonial-area .review-slider .review_box img {
  border-radius: 5rem;
  margin-right: 1rem;
}
.testimonial-area .review-slider .review_box h4 {
  font-size: 1.8rem;
  font-weight: 600;
}
.testimonial-area .review-slider .slick-current.slick-center {
  opacity: 1;
  transform: translateY(-50px);
  filter: blur(0);
  transition: all 500ms ease-in-out;
}
.testimonial-area .review-slider .slick-slide {
  opacity: 0.3;
  filter: blur(1.5px);
  transition: all 500ms ease-in-out;
}
.testimonial-area .review-slider .slick-dots li button:before {
  font-size: 5rem;
  color: var(--ss-primary);
}
.testimonial-area .review-slider .slick-dots li.slick-active button:before {
  color: var(--ss-primary);
  border: 1px solid #ff5a61;
  border-radius: 5rem;
}

/*Blog Area*/
.blog-area {
  position: relative;
}
.blog-area .blog-left {
  padding: 4rem;
  border-radius: 0.8rem;
  background-color: #fff;
}
.blog-area .blog-left .title-box h4 {
  margin-bottom: 4rem;
  line-height: 5.5rem;
}
.blog-area .blog-left .title-box p {
  margin: 2rem 0rem;
}
.blog-area .blog-left .title-box .btn {
  margin-top: 2rem;
}
.blog-area .blog-right img {
  max-height: 35rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.blog-area .blog-right h6 {
  font-size: 1.6rem;
  color: #9D9D9D;
  margin: 2rem 0rem;
}
.blog-area .blog-right h4 {
  font-size: 2.2rem;
  color: #000;
  font-weight: 500;
  color: var(--ss-primary);
}
.blog-area .blog-right p {
  margin: 2rem 0rem;
}

.blog-area::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50rem;
  background: url(../images/heart-pattern-bg-1.png);
  background-color: var(--ss-primary);
  z-index: -1;
}

/*Works Area*/
.works-area .common-btn {
  margin-top: 4rem;
}
.works-area .works-box i {
  font-size: 4rem;
  color: var(--ss-primary);
  box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.1);
  padding: 3rem;
  border-radius: 50rem;
}
.works-area .works-box h4 {
  font-size: 2.2rem;
  font-weight: 600;
  margin: 2rem 0rem;
}
.works-area .title-box {
  margin-bottom: 8rem;
}
.works-area .search-box {
  position: relative;
}
.works-area .search-box::before {
  content: "";
  position: absolute;
  left: -15rem;
  background: url(../images/placeholder.png);
  width: 100%;
  height: 5rem;
  background-repeat: no-repeat;
  top: 3rem;
}
.works-area .search-box::after {
  content: "";
  position: absolute;
  right: -27rem;
  background: url(../images/placeholder2.png);
  width: 100%;
  height: 5rem;
  background-repeat: no-repeat;
  top: 5rem;
}

/*Footer Area*/
footer {
  background: url(../images/heart-pattern-bg-1.png);
  background-color: var(--ss-primary);
  color: #fff;
  padding-bottom: 0rem !important;
}
footer .footer-box {
  justify-content: space-between;
}
footer .footer-1 {
  width: 25%;
}
footer .footer-1 p {
  margin: 2rem 0rem;
}
footer .footer-1 ul li {
  margin-right: 1rem;
  border-radius: 5rem;
  border: 1px solid;
}
footer .footer-1 ul li i {
  font-size: 1.5rem;
  color: #fff;
}
footer .footer-1 ul li a {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-1 ul li:hover {
  background-color: rgba(0, 0, 0, 0.4509803922);
}
footer .footer-content {
  width: 10%;
}
footer .footer-content h3 {
  font-size: 2rem;
  margin-bottom: 3rem;
}
footer .footer-content ul li {
  margin-bottom: 1rem;
}
footer .footer-content ul li a {
  font-size: 1.6rem;
  color: #fff;
}
footer .footer-content .footer-address li {
  margin-bottom: 1rem;
}
footer .footer-content-2 {
  width: 25%;
}
footer .footer-content-3 {
  width: 25%;
}
footer .footer-content-3 form {
  position: relative;
  margin-top: 2rem;
}
footer .footer-content-3 form input {
  width: 100%;
  padding: 1rem;
  border: none;
  outline: none;
}
footer .footer-content-3 form button {
  position: absolute;
  right: 0;
  border: none;
  padding: 1rem;
}
footer .footer-copyright {
  padding: 3rem 0rem;
  border-top: 1px solid;
  margin-top: 3rem;
}
footer .footer-copyright ul {
  justify-content: space-between;
}
footer .footer-copyright ul li a {
  font-size: 1.6rem;
  color: #fff;
  margin-left: 1rem;
}

/*Footer Popup Area*/
.floating-btm-box {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: #fff;
  transition: transform 0.8s ease;
  z-index: 1001;
  color: #000;
  font-weight: 400;
  transform: translateY(120%);
  box-shadow: 0 8px 8px rgba(41, 26, 85, 0.25);
  border-radius: 5px;
  max-width: 320px;
  width: 100%;
  font-size: 14px;
  padding: 15px 12px 12px;
  line-height: 22px;
}

@media screen and (max-width: 767px) {
  .floating-btm-box {
    top: 7px;
    bottom: inherit;
    transform: translateY(-163%);
  }
}
.floating-sub-box {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.floating-btm-box img {
  width: 75px;
  height: 75px;
  margin-right: 10px;
}

.floating-btm-box.notify {
  transform: translateY(0);
}

.custom-close-n {
  position: absolute;
  top: -12px;
  right: -15px;
  cursor: pointer;
}

.custom-close-n i, .custom-close-n img {
  font-size: 15px;
  color: #7e7e7e;
  width: 15px;
  height: 15px;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.floating-btm-box:hover .custom-close-n i, .floating-btm-box:hover .custom-close-n img {
  opacity: 1;
}

/*Footer Popup Area*/
@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1280px;
  }
}
@media (max-width: 1199px) {
  .navbar-nav .nav-item .nav-link {
    font-size: 1.2rem;
  }
  .banner-area form .form-select {
    padding: 1.5rem 10rem 1.5rem 1rem;
  }
}
@media screen and (max-width: 991px) {
  .navbar-nav {
    margin: 2rem 0rem;
    align-items: start;
  }
  .navbar-nav .nav-item {
    width: 100%;
    text-align: left;
    padding: 1rem 0rem;
    border-bottom: 1px solid #ddd;
  }
  .navbar-nav .nav-item .nav-link {
    margin-left: 0rem;
    font-size: 1.6rem;
  }
  .navbar-nav .nav-item:last-child {
    border: none;
  }
  .line1 {
    top: 3rem;
    color: var(--ss-primary);
    width: 3rem;
    height: 0.2rem;
    background-color: var(--ss-primary);
    content: "";
    position: absolute;
    right: 0rem;
  }
  .line2 {
    top: 2rem;
    color: var(--ss-primary);
    width: 2rem;
    height: 0.2rem;
    background-color: var(--ss-primary);
    content: "";
    position: absolute;
    right: 0rem;
  }
  .line3 {
    top: 1rem;
    color: var(--ss-primary);
    width: 3rem;
    height: 0.2rem;
    background-color: var(--ss-primary);
    content: "";
    position: absolute;
    right: 0rem;
  }
  .banner-area form .form-select {
    padding: 1.5rem 6rem 1.5rem 1rem;
  }
  .about-right {
    margin-top: 4rem;
  }
  .profile-tab-area .product-tab .tab-link {
    padding: 1rem 2rem;
  }
  .profile-tab-area .product-tab .tab-link p {
    font-size: 1.6rem;
  }
  .blog-area::before {
    width: 20rem;
  }
  .blog-area .blog-left .title-box h4 {
    margin-bottom: 2rem;
    line-height: 4.5rem;
    font-size: 3rem;
  }
  .works-area .search-box::before {
    left: -6rem;
    width: 45%;
    top: 3rem;
    background-size: contain;
  }
  .works-area .search-box::after {
    right: -6rem;
    width: 45%;
    top: 5rem;
    background-size: contain;
  }
  footer .footer-box {
    flex-wrap: wrap;
  }
  footer .footer-1 {
    width: 100%;
    margin-bottom: 4rem;
  }
  footer .footer-content {
    width: 33.33%;
  }
  footer .footer-content .footer-address li {
    margin-bottom: 1rem;
  }
  footer .footer-copyright p {
    font-size: 1.4rem;
  }
  footer .footer-copyright ul li a {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 992px) {
  .navbar-nav li:hover > ul.dropdown-menu {
    top: 100%;
    transform: scale(1, 1);
  }
  .dropdown-menu {
    border: none;
    border-radius: 0;
    transform: scale(1, 0);
    transform-origin: top;
    transition: all 300ms ease-in-out 0s;
    display: table-column;
    top: 100%;
  }
  .navbar-nav li:hover > a::after {
    transform: rotate(180deg);
    transition: all 300ms ease-in-out 0s;
  }
}
@media screen and (min-width: 768px) {
  .dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
    position: inherit;
  }
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 5rem !important;
  }
}
@media screen and (max-width: 767px) {
  .dropdown-menu.show {
    display: block;
  }
  .banner-area {
    padding: 5rem 0rem;
  }
  .banner-area h1 {
    font-size: 4rem;
  }
  .banner-area form {
    padding: 2rem;
  }
  .banner-area form ul {
    flex-wrap: wrap;
  }
  .banner-area form ul li {
    width: 100%;
    margin: 1rem 0rem;
  }
  .banner-area form button {
    width: 100%;
    border-radius: 0.375rem;
  }
  .title-box h4 {
    font-size: 3rem;
  }
  .product-tab .tabs {
    flex-wrap: wrap;
  }
  .product-tab .tabs li {
    margin-bottom: 2rem !important;
  }
  .profile-tab-area .tab-content {
    margin-top: 1rem;
  }
  .blog-area .blog-left {
    padding: 4rem 2rem;
  }
  .blog-area .blog-right img {
    max-height: 20rem;
  }
  .blog-area::before {
    display: none;
  }
  .p-80 {
    padding: 4rem 0rem;
  }
  .works-area .search-box::before {
    display: none;
  }
  .works-area .search-box::after {
    display: none;
  }
  .works-area .search-box {
    margin: 4rem 0rem;
  }
  .works-area .title-box {
    margin-bottom: 4rem;
  }
  .footer-content-2 {
    margin: 4rem 0rem;
  }
  footer .footer-content {
    width: 100%;
  }
  footer .footer-content h3 {
    margin-bottom: 1rem;
  }
  footer .footer-copyright {
    padding: 3rem 0rem 1rem;
  }
  footer .footer-copyright ul li {
    margin-bottom: 2rem;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */